.page_1 {
    width: 100%;
    background: black;
    color: #fff;
}

.test-image {
    width: 200px;
    height: 200px;
    background-image: url('../../images/webpack.png');
    background-position: center;
}