@import "~/styles/common/_variables.scss";
@import "~/styles/common/common.scss";

@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Regular.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

html,
body {
  font-family: 'OpenSans', sans-serif;
}

main {
  width: 100%;
}

h1 {
  color: $red-color;
}

p {
  width: 200px;
}
